
{{#unless validPage}}
    <h2>Error 404: Page Not Found</h2>
    <button><a href="/products">Go to Products</a></button>
{{/unless}}

{{#if validPage}}  
<h1>Products</h1>
<div>  
    {{#each docs}}
        <div>
            {{#if this.available}}
            <h2>{{this.title}}</h2>
            <span>SKU: {{this.code}}</span>
            <h4>{{this.description}}</h4>
            <p>Price: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Category: {{this.category}}</p>
            <button id="{{this._id}}" class="addToCartBtn">Add To Cart</button>
            <br />
            <br />
            {{/if}}
        </div>
    {{/each}}

    <br />
    <br />
    {{#if hasPrevPage}}
    <button><a href="/products?page={{prevPage}}">Previous Page</a></button>
    {{/if}}
    {{#if hasNextPage}} 
    <button><a href="/products?page={{nextPage}}">Next Page</a></button>
    {{/if}}
</div>
{{/if}}        

<script src="/js/products.js"></script>
